/*通用*/
body {
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color:#666;
    margin:0px;
    padding:0px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
input {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}

/**************************V02***********************************/
a  {
    color:#666;
    text-decoration:none;
	cursor:pointer;
	}
a:hover {
    text-decoration:none;
    color:#ff0700;
	cursor:pointer;
	}

/*整体布局*/
#header,#nav,#main,#footer {
    width:1423px;
    margin:0px auto;
	}

body{
	background:url(images/main_bg_v4.jpg) no-repeat center top;
	background-size:1750px 100%;
	}
/*======================================页面CSS内容分类=========================================*/
/*(1.0)页面顶部*/
	/*==========(1.1)页眉 长度 边框 内边距 背景颜色*/
	#header #label{
				width:100%;
				border:1px solid #1D2534;
				padding:5px 140px;
				background-color:#0D1525;
				box-sizing:border-box;
				}
		/*(1.1.1)右边页眉 右浮动*/
		#label div.right-label{
				float:right;
				}
		/*(1.1.1)右边页眉 字体颜色、大小、行高*/
		#label div.right-label a{
				font-size:15px;
				color:#B3B5BA;
				line-height:28px;
				padding:0px 20px;
				transition:color 1s linear;
				}

			/*(1.1.2)右边页眉 a悬停效果*/
			#label div.right-label a:hover{
				color:#fff;
				}
		/*(1.1.1)右边页眉  b中插入精灵图 变行内块 长宽 不平铺*/
		#label div.right-label a b{
				display:inline-block;
				width:11px;
				height:10px;
				background:url(images/common.png) no-repeat -0px -339px;
				}
		/*(1.1.2)左边页眉 字体大小, 行高*/
		#label div.left-label a{
				font-size:17px;
				line-height:17px;
				padding:0px 10px;
				transition:color 1s linear;
				}
			/*(1.1.2)左边页眉 最后一个a悬停效果*/
			#label div.left-label a:last-child span:hover{
				color:#fff;
				}
		/*(1.1.2)左边页眉 i中插入精灵图 变行内块 长宽 不平铺*/
		#label div.left-label a i{
				display:inline-block;
				width:32px;
				height:31px;
				background:url(images/logo-bnet.png) no-repeat -8px -11px;
				vertical-align:middle;
				}
		/*(1.1.2)左边页眉 b中插入精灵图 变行内块 长宽 不平铺 相对定位*/
		#label div.left-label a b{
				display:inline-block;
				width:11px;
				height:10px;
				background:url(images/common.png) no-repeat -0px -339px;
				position:relative;
				}
		/*(1.1.3) 弹框中ul 的属性绝对定位 长度*/
		#label div.left-label #label-tank{
				position:absolute;
				top:28px;
				left:207px;
				width:210px;
				border-left:1px solid #1D2534;
				border-bottom:1px solid #1D2534;
				background-color:#212A3A;
				display:none;
				}
			/*点击游戏中的下标弹出弹框*/
			#label div.left-label #key-tank:hover #label-tank{
				display:block;
				}
		/*(1.1.3) 弹框中li的公共属性 长度 宽度 左浮动*/
		#label div.left-label #label-tank li{
				width:70px;
				height:70px;
				float:left;
				border-top:1px solid #1D2534;
				border-right:1px solid #1D2534;
				box-sizing:border-box;
				}
		/*(1.1.3) 弹框中第一个li的图标*/
		#label div.left-label #label-tank li:nth-child(1){
				background:url(images/game-icons-70.png) no-repeat 0px 0px;
				}
		/*(1.1.3) 弹框中第二个li的图标*/
		#label div.left-label #label-tank li:nth-child(2){
				background:url(images/game-icons-70.png) no-repeat -70px 0px;
				}
		/*(1.1.3) 弹框中第三个li的图标*/
		#label div.left-label #label-tank li:nth-child(3){
				background:url(images/game-icons-70.png) no-repeat -142px 0px;
				}
		/*(1.1.3) 弹框中第四个li的图标*/
		#label div.left-label #label-tank li:nth-child(4){
				background:url(images/game-icons-70.png) no-repeat -211px 0px;
				}
		/*(1.1.3) 弹框中第五个li的图标*/
		#label div.left-label #label-tank li:nth-child(5){
				background:url(images/game-icons-70.png) no-repeat -280px 0px;
				}
		/*(1.1.3) 弹框中第六个li的图标*/
		#label div.left-label #label-tank li:nth-child(6){
				background:url(images/game-icons-70.png) no-repeat -351px 0px;
				}
	/*==============(1.2)logo	*/
		/*(1.2.1)img图片*/
		#logo img{
				width:660px;
				height:230px;
				}
		/*(1.2.1)input属性 长度 背景色 内边距 背景图 字体颜色、大小 调整透明度*/
		#logo input{
				width:300px;
				padding:10px 30px 10px 10px;
				margin-left:285px;
				box-sizing:border-box;
				font-size:14px;
				background:rgba(197,239,255,0.2);
				}
		input::-webkit-input-placeholder{
				color:#fff;
				}
		/*(1.2.1)放大镜图片 相对定位 长宽 插图*/
		#logo i{
				position:relative;
				top:9px;
				right:33px;
				display:inline-block;
				width:25px;
				height:25px;
				background:url(images/search.png) no-repeat;
				}
		/*(1.2.2)选择栏 长度 外边距 相对定位*/
		#logo #nav{
				width:1188px;
				margin:0px auto 135px;
				position:relative;
				}
		/*(1.2.2)选择栏 插入五个精灵图 长宽 绝对定位 变行内块*/
		#logo #nav b:nth-child(1){
				position:absolute;
				top:-5px;
				left:352px;
				display:inline-block;
				width:483px;
				height:39px;
				background:url(images/nav.png) no-repeat -353px -20px;
				z-index:100;
				}
		#logo #nav b:nth-child(2){
				position:absolute;
				top:14px;
				display:inline-block;
				width:1188px;
				height:56px;
				background:url(images/nav.png) no-repeat -0px -79px;
				z-index:80;
				}
		
		/*(1.2.2)选择栏 整个框属性 消除子浮动影响 相对定位*/
		#logo #nav ul.nav-frame{
				clear:both;
				position:relative;
				top:34px;
				left:17px;
				}
		/*(1.2.2)选择栏 每个内容框属性 左浮动 长宽 字体大小和颜色 文字居中 背景图片*/ 
		#logo #nav ul.nav-frame li a{
				float:left;
				width:165px;
				height:74px;
				color:#87E7FF;
				font-weight:bold;
				font-size:22px;
				text-align:center;
				line-height:74px;
				background:url(images/nav.png) no-repeat -147px -154px;
				}
			/*(1.2.2)选择栏 每个内容框悬停后背景属性*/
			#logo #nav ul.nav-frame li a:hover{
				background:url(images/nav.png) no-repeat -190px -263px;
				}
	    /*(1.2.2)选择栏 第一个li背景图片*/
		#logo #nav ul.nav-frame li:first-child a{
				width:165px;
				height:73px;
				background:url(images/nav.png) no-repeat -0px -154px;
				}
			/*(1.2.2)选择栏 第一个li悬停后属性*/
			#logo #nav ul.nav-frame li:first-child a:hover{
				background:url(images/nav.png) no-repeat -0px -263px;
				}
		/*(1.2.2)选择栏 最后一个li背景图片*/
		#logo #nav ul.nav-frame li:last-child a{
				width:165px;
				height:73px;
				background:url(images/nav.png) no-repeat -1024px -154px;
				}
			/*(1.2.2)选择栏 最后一个li悬停后属性*/
			#logo #nav ul.nav-frame li:last-child a:hover{
				background:url(images/nav.png) no-repeat -1024px -263px;
				}

/*(2.0)页面主体 长度 背景图片及颜色 左右外边距，上下内边距====================================================================*/
#main #main-content{
				width:1000px;
				height:2330px;
				margin:0px auto;
				padding:0px 0px 0px;
				background-color:#010D1F;
				position:relative;
				
				}
/*(2.0)页面主体 顶部和底部的背景图片*/
#main #main-content>b{
				width:1000px;
				height:160px;
				background:url(images/common.png) no-repeat -0px -0px;
				position:absolute;
				}
#main #main-content .content-bottom{
				width:1000px;
				height:190px;
				background:url(images/common.png) no-repeat -0px -135px;
				position:absolute;
				bottom:0px;
				}
	/*===============(2.1)主体左面 长度 绝对定位 做内边距 左浮动*/
	#main-content div.main-left{
				width:670px;
				position:relative;
				top:25px;
				padding-left:9px;
				box-sizing:border-box;
				float:left;
				z-index:100;
				}
		/*(2.1.1)大面的广告 长宽 背景*/
		div.main-left #main-advert{
				width:655px;
				height:308px;
				position:relative;
				}
		/*(2.1.1)大面的广告 span的属性 长宽 背景*/
		div.main-left #main-advert span{
				display:inline-block;
				width:655px;
				height:308px;
				background:url(images/home_sprite.png) no-repeat -0px -0px;
				position:absolute;
				z-index:110;
				}
			/*(2.1.1)大面的广告 span悬停后效果 背景图片*/
			div.main-left #main-advert span:hover{
				width:655px;
				height:308px;
				background:url(images/home_sprite.png) no-repeat -700px -0px;
				}
		/*(2.1.1)大面的广告 img属性 长宽 隐藏*/
		div.main-left #main-advert img{
				width:646px;
				height:299px;
				padding-left:5px;
				padding-top:5px;
				/*display:none;*/
				position:absolute;
				}
			/*div.main-left #main-advert img:target{*/
				/*display:block;*/
				/*}*/
		/*(2.1.1)大面的广告 p属性 固定定位 文本靠右*/
		div.main-left #main-advert #indexs{
				position:absolute;
				z-index:120;
				top:277px;
				right:45px;
				}
		/*(2.1.1)大面的广告 i属性 变行内块长宽 背景图片*/
		div.main-left #main-advert i{
				display:inline-block;
				width:25px;
				height:13px;
				background:url(images/home_sprite.png) no-repeat -1403px -3px;
				}
			/*(2.1.1)大面的广告 i属性 变行内块长宽 背景图片*/
			div.main-left #main-advert>p>a>i:hover{
				display:inline-block;
				width:25px;
				height:13px;
				background:url(images/home_sprite.png) no-repeat -1403px -34px;
				}
		/*(2.1.2)附广告*/
		/*(2.1.2)附广告 dl的属性 相对定位*/
		div.main-left #nav-advert dl{
				margin:25px 14px;
				position:relative;
				float:left;
				}
		/*(2.1.2)附广告 dl中b的属性 变行内块 长宽 插入背景框*/
		div.main-left #nav-advert>dl>dt>a>b{
				display:inline-block;
				width:307px;
				height:159px;
				background:url(images/home_sprite.png) no-repeat -0px -349px;
				position:absolute;
				top:-3px;
				left:-1px;
				}	
			/*(2.1.2)附广告 dl中b的选停后属性 变换背景框*/
			div.main-left #nav-advert>dl:hover b{
				width:307px;
				height:159px;
				background:url(images/home_sprite.png) no-repeat -320px -349px;
				}
		/*(2.1.2)附广告 dl中dd属性 字体颜色大小，居中 上下内边距*/
		div.main-left #nav-advert>dl>dd{
				padding:20px 0px;
				text-align:center;
				font-size:15px;
				color:#A3C9E4;
				}
			/*(2.1.2)附广告 dl中dd选停后属性 字体颜色*/
			div.main-left #nav-advert>dl:hover dd{
				color:#fff;
				}
	    /*(2.1.3)下方主内容*/
		/*(2.1.3)下方主内容 li的属性 长宽 背景图 内边距 下外边距*/
		#main-selection ul li{
				width:655px;
				height:168px;
				position:relative;
				margin-bottom:10px;
				background:url(images/home_sprite.png) no-repeat -945px -560px;
				}
			/*(2.1.3)下方主内容 li的悬停后属性*/
			#main-selection ul li:hover{
				width:655px;
				height:168px;
				background:url(images/home_sprite.png) no-repeat -945px -740px;
				position:relative;
				}
		/*(2.1.3 dt)下方主内容 dt的属性*/
		#main-selection ul li dl{
				position:relative;	
				padding:31px 20px;
				}
		/*(2.1.3 dt)下方主内容 dt的属性 长宽 右浮动*/
		#main-selection ul dl dt{
				width:400px;
				height:103px;
				float:right;
				line-height:25px;
				box-sizing:border-box;
				padding-left:10px;
				}
		/*(2.1.3 dt)下方主内容 h4的属性 字体大小 颜色*/
		#main-selection ul dl dt h4{
				font-size:16px;
				color:#A3C9D8;
				}
			/*(2.1.3 dt)下方主内容 h4的悬停后属性 颜色*/
			#main-selection ul li:hover h4{
				color:#ffffff;
				}
		/*(2.1.3 dt)下方主内容 第一个p的属性 颜色 上下外边距*/
		#main-selection ul dl dt p:nth-child(2){
			    color:#5788AB;
				}
			/*(2.1.3 dt)下方主内容 第一个p的悬停后属性 颜色*/
			#main-selection ul li:hover p:nth-child(2){
				color:#51B6BA;
				}
		/*(2.1.3 dt)下方主内容 第二个p的属性 绝对定位*/
		#main-selection ul dl dt p:nth-child(3){
				position:absolute;
				bottom:30px;
				}
		/*(2.1.3 dt)下方主内容 第二个p中b的属性 变行内块 长度宽度 插入精灵图 向下移动*/
		#main-selection ul dl dt p:nth-child(3) b{
				display:inline-block;
				width:14px;
				height:13px;
				background:url(images/home_sprite.png) no-repeat -0px -1179px;
				margin-bottom:-3px;
				}
			/*(2.1.3 dt)下方主内容 第一个p的悬停后属性 改背景图*/
			#main-selection ul li:hover p:nth-child(3) b{
				background:url(images/home_sprite.png) no-repeat -20px -1179px;
				}
		/*(2.1.3 dt)下方主内容 第二个li中第二个p中b的属性 长宽 插入精灵图*/
		#main-selection ul li:nth-child(2) p:nth-child(3) b{
				width:15px;
				height:15px;
				background:url(images/home_sprite.png) no-repeat -49px -1179px;
				}
			/*(2.1.3 dt)下方主内容 第二个li中第二个p中b悬停后的属性 插入精灵图*/
			#main-selection ul li:nth-child(2):hover p:nth-child(3) b{
				background:url(images/home_sprite.png) no-repeat -69px -1179px;
				}
		/*(2.1.3 dt)下方主内容 第二个p中第一个span的属性 字体颜色*/
		#main-selection ul dl dt p:nth-child(3) span:first-child{
				color:#5788AB;
				}
			/*(2.1.3 dt)下方主内容 第二个p中第一个span的悬停后属性 字体颜色*/
			#main-selection ul li:hover dt p:nth-child(3) span:first-child{
				color:#00BAFE;
				}
		/*(2.1.3 dt)下方主内容 第二个p中第二个span的属性 左外边距*/
		#main-selection ul dl dt p:nth-child(3) span:last-child{
				margin-left:25px;
				color:#495E66;
				}
	    /*(2.1.3 dd)下方主内容 dd的属性 变行内块 长宽 背景框 绝对定位*/	
		#main-selection ul dl dd i{
				display:inline-block;
				width:205px;
				height:106px;
				background:url(images/home_sprite.png) no-repeat -0px -1049px;
				position:absolute;
				left:19px;
				top:29px;
				}
			/*(2.1.3 dd)下方主内容 dd的悬停后属性 插入图片*/
			#main-selection ul li:hover i{
				width:205px;
				height:106px;
				background:url(images/home_sprite.png) no-repeat -219px -1049px;
				}
		
		/*(2.1.3 dd)下方主内容 img图片的属性 长宽*/
		#main-selection ul dl dd img{
				width:203px;
				height:103px;
				}
		/*(2.1.4)结尾 p的属性 长宽 背景精灵图 字体颜色 相对定位*/
		#main-content div.main-left #main-footer p{
				width:655px;
				height:43px;
				background:url(images/home_sprite.png) no-repeat -0px -920px;
				color:#B6E4FF;
				font-size:17px;
				text-align:center;
				line-height:43px;
				position:relative;
				}
			/*(2.1.4)结尾 悬停后的属性背景精灵图*/
			#main-content div.main-left #main-footer p:hover{
				width:655px;
				height:43px;
				background:url(images/home_sprite.png) no-repeat -0px -980px;
				color:#FFF0CC;
				}
		/*(2.1.4)结尾 p中i的属性 变行内块 长宽 背景精灵图*/
		#main-content div.main-left #main-footer p i{
				display:inline-block;
				width:20px;
				height:43px;
				background:url(images/home_sprite.png) no-repeat -1580px -920px;
				position:absolute;
				right:0px;
				}
			/*(2.1.4)结尾 p中i的属性 背景精灵图*/
			#main-content div.main-left #main-footer p:hover i{
				background:url(images/home_sprite.png) no-repeat -1580px -980px;
				}	
	/*(2.2)主体右面 长度，宽度 右浮动 背景图片 上外边距 相对定位*/
	#main-content div.main-right{
				float:right;
				width:330px;
				height:1000px;
				margin-top:25px;
				background-image:url(images/home_side_bg-1.jpg);
				box-sizing:border-box;
				position:relative;
				}
		/*(2.2.1)主体内容 绝对定位 背景色 */
		div.main-right #right-content{
				position:relative;
				padding-left:7px;
				padding-bottom:5px;
				width:330px;
				right:1px;
				top:259px;
				box-sizing:border-box;
				z-index:10;
				background-color:#021026;
				border:1px solid #091D3A;
				border-top:transparent;
				}
		/*(2.2.2) li的属性 相对定位*/
		div.main-right #right-content #content-selects li{
				position:relative;
				margin-bottom:10px;
		}
		/*(2.2.2)内容选项 li中所有i的公共属性 变行内块 长宽 下外边距*/
		div.main-right #right-content #content-selects li i{
				display:inline-block;
				width:316px;
				height:93px;
				margin-bottom:0px;
				}
		/*(2.2.2)内容选项 第一个li中i的属性 插入背景图*/
		div.main-right #right-content #content-selects li:nth-child(1) i{
				background:url(images/home_side_20160608_v2.png) no-repeat -0px -330px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(1) i:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -400px -330px;
				}
		/*(2.2.2)内容选项 第二个li中i的属性 插入背景图*/
		div.main-right #right-content #content-selects li:nth-child(2) i{
				background:url(images/home_side_20160608_v2.png) no-repeat -0px -439px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(2) i:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -400px -439px;
				}
		/*(2.2.2)内容选项 第三个li中i的属性 插入背景图*/
		div.main-right #right-content #content-selects li:nth-child(3) i{
				background:url(images/home_side_20160608_v2.png) no-repeat -0px -550px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(3) i:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -400px -550px;
				}
		/*(2.2.2)内容选项 第四个li中i的属性 插入背景图*/
		div.main-right #right-content #content-selects li:nth-child(4) i{
				background:url(images/home_side_20160608_v2.png) no-repeat -0px -660px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(4) i:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -400px -660px;
				}
		/*(2.2.2)内容选项 第五个li中i的属性 插入背景图*/
		div.main-right #right-content #content-selects li:nth-child(5) i{
				background:url(images/home_side_20160608_v2.png) no-repeat -937px -0px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(5) i:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -937px -109px;
				}
		/*(2.2.2)内容选项 第六个li中i的属性 插入背景图*/
		div.main-right #right-content #content-selects li:nth-child(6) i{
				background:url(images/home_side_20160608_v2.png) no-repeat -937px -216px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(6) i:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -935px -323px;
				}
		/*(2.2.2)内容选项 li中的所有的b标签属性变行内块 长宽 绝对定位 插入背景*/
		div.main-right #right-content #content-selects li>span>b{
				display:inline-block;
				width:10px;
				height:10px;
				background:url(images/home_side_20160608_v2.png) no-repeat -0px -0px;
				position:absolute;
				right:9px;
				top:4px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li b:hover{
				background:url(images/home_side_20160608_v2.png) no-repeat -20px -0px;
				}
		/*(2.2.2)order的公共属性 背景图片*/
		/*(2.2.3)order的ul公共属性 长度，宽度，背景图片 内边距*/
		div.main-right #right-content #content-selects .order ul{
				width:313px;
				height:210px;
				background:url(images/home_side_20160608_v2.png) no-repeat -401px -90px;
				}
		/*(2.2.3) order中所有文本颜色*/
		div.main-right #right-content #content-selects .order ul li a{
				color:#76C1EC;
				margin-left:8px;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects .order ul li a:hover{
				color:#ffffff;
				}
		/*(2.2.3)order中h2的公共属性属性 背景图片 长宽*/
		div.main-right #right-content #content-selects .order h2{
				width:313px;
				height:40px;
				color:#76C1EC;
				background:url(images/common.png) no-repeat 0px -410px;
				} 
		/*(2.2.3) 第7个li的h2中i 的属性 变行内块 长宽 背景图片 左，上外边距 基线下对齐*/
		div.main-right #right-content #content-selects li:nth-child(7) h2>i{
				display:inline-block;
				width:25px;
				height:26px;
				background:url(images/home_side_20160608_v2.png) no-repeat -80px -301px;
				margin-left:30px;
				margin-top:10px;
				vertical-align:bottom;
				}
		/*(2.2.3)第7个li的h3中span属性 长度宽度 变行内块 绝对定位 背景图片*/
		div.main-right #right-content #content-selects li:nth-child(7) h2 span{
				display:inline-block;
				width:17px;
				height:9px;
				position:absolute;
				top:16px;
				right:24px;
				background:url(images/common.png) no-repeat -340px -410px;
				transition:background 0.2s linear;
				}
			/*悬停后效果*/
			div.main-right #right-content #content-selects li:nth-child(7) h2 span:hover{
				background:url(images/common.png) no-repeat -359px -410px;
				}
		/*(2.2.3)第7个li中 orderes中li的属性 长度宽度 上下左内边距 左右外边距
				 底部边框属性 背景图标及定位*/
		div.main-right #right-content #content-selects li:nth-child(7) #orderes>li{
				width:210px;
				height:20px;
				padding:10px 0px 10px 29px;
				margin:0px 30px;
				border-bottom:1px dotted #0E2440;
				background:url(images/home_side_20160608_v2.png) no-repeat 0px -756px;
				}
		/*(2.2.3) 第8个li的h2中i 的属性 变行内块 长宽 背景图片 左，上外边距 基线下对齐*/
		div.main-right #right-content #content-selects li:nth-child(8) h2>i{
				display:inline-block;
				width:25px;
				height:26px;
				background:url(images/home_side_20160608_v2.png) no-repeat -160px -301px;
				margin-left:30px;
				margin-top:10px;
				vertical-align:bottom;
				}
		/*(2.2.3)第8个li中 weibo中li的属性 长度宽度 上下左内边距 左右外边距
				 底部边框属性 背景图标及定位*/
		div.main-right #right-content #content-selects li:nth-child(8) #weibo li{
				width:280px;
				height:20px;
				margin:0px 30px;
				padding:5px 0px;
				border-bottom:1px dotted #0E2440;
				}
		/*(2.2.3)第8个li中 weibo的li中label属性 行内块 长度宽度 背景图标 基线对齐*/
		div.main-right #right-content #content-selects li:nth-child(8) #weibo li label{
				display:inline-block;
				width:18px;
				height:18px;
				vertical-align:middle;
				}
		/*(2.2.3)第8个li中 weibo的li中label属性 行内块 边框 左右外边距*/		
		div.main-right #right-content #content-selects li:nth-child(8) #weibo li time{
				display:inline;
				border:1px dotted #0E2440;
				margin:0px 10px;
				}

		/*(2.2.3)第8个li中 weibo的li中span属性 行内块 边框*/
		#right-content #content-selects li:nth-child(8) #weibo .weiboes span{
				display:inline-block;
				border:5px solid transparent;
				border-left:5px solid #00E7E7;
				}
		/*(2.2.3)第8个li中 weibo的weiboes中a的颜色*/
		#right-content #content-selects li:nth-child(8) #weibo .weiboes a{
				color:#00E7E7;
				}
			/*悬停后效果*/
			#right-content #content-selects li:nth-child(8) #weibo .weiboes a:hover{
				color:#ffffff;
				}
			/*悬停后效果*/
			#right-content #content-selects li:nth-child(8) #weibo .weiboes a:hover span{
				border-left:5px solid #ffffff;
				}

/*(3.0)底部栏属性 长度 固定长宽*/
#footer{
				width:1421px;
				box-sizing:border-box;
				}
	/*(3.1)整体框架属性 长度 固定变宽 */
	#footer .foot-content{
				width:1000px;
				box-sizing:border-box;
				margin:0px auto;
				background-color:#000000;
				}
		
		/*(3.1.1)顶部的背景图片*/
		.foot-content #img-top{
				width:1000px;
				height:94px;
				background:url(images/main-bg-bottom.png) no-repeat -780px -180px;
				}
		/*(3.2.1)左边选择项 左浮动 右外边距*/
		.foot-content #selection .select-tabs li{
				float:left;
				margin-right:50px;
				}
			
		/*(3.2.1)左边选择项中li中i的属性 变行内块 长宽右外边距*/
		.foot-content #selection .select-tabs li i{
				display:inline-block;
				width:20px;
				height:20px;
				margin-right:10px;
				vertical-align:middle;
				}
		/*(3.2.1)左边选择项中li中a的属性 字体颜色*/
		.foot-content #selection  a{
				color:#ccc;
				}
			/*(3.2.1)链接字体色悬停后效果 字颜色变白色*/
			.foot-content #selection  a:hover{
				color:#ffffff;
				}
		/*(3.2.1)左边选择项中第一个li中i的属性 变行内块 长宽右外边距*/
		.foot-content #selection .select-tabs li:nth-child(1) i{
				background:url(images/sprite-24-blue.png) no-repeat -99px -3px;
				}
		/*(3.2.1)左边选择项中第二个li中i的属性 变行内块 长宽右外边距*/
		.foot-content #selection .select-tabs li:nth-child(2) i{
				background:url(images/sprite-24-blue.png) no-repeat -148px -28px;
				}
		/*(3.2.1)左边选择项中第三个li中i的属性 变行内块 长宽右外边距*/
		.foot-content #selection .select-tabs li:nth-child(3) i{
				background:url(images/sprite-24-blue.png) no-repeat -28px -122px;
				}

		/*(3.2.1)左边选择项中h3中i的属性 变行内块 长宽 左外边距 背景图标*/
		.foot-content #selection>h3 i{
				display:inline-block;
				width:12px;
				height:12px;
				margin-left:30px;
				border:1px solid #011841;
				background:url(images/sprite-16-white.png) no-repeat -66px -306px;
				}
			/*(3.2.1)悬停后效果*/
			.foot-content #selection>h3 i:active{
				background:url(images/sprite-16-white.png) no-repeat -84px -306px;
				}
		/*(3.3.1)信息框 左浮动*/
		.foot-content #mail li{
				float:left;
				margin:80px 0px 0px 30px;
				}
		/*(3.3.2)第一个p中字体颜色和大小 竖线的颜色 高度 左右外边距 边框*/
		.foot-content #mail .mails p:nth-child(1) a{
				color:#ccc;
				font-size:15px;
				
				}
		.foot-content #mail .mails p:nth-child(1) b{
				display:inline-block;
				border:1px solid #ccc;
				height:12px;
				margin:0px 10px;
				}
		/*(3.3.2)第二个p中字体颜色和上下外边距*/
		.foot-content #mail .mails p:nth-child(2){
				color:#274A67;
				margin:10px 0px;
				}
		/*(3.3.2)第二个p中a的字体颜色和悬停效果*/
		.foot-content #mail .mails p:nth-child(2)  a{
				color:#274A67;
				}
			/*悬停效果*/
			.foot-content #mail .mails p:nth-child(2) a:hover{
				color:#ffffff;
				}
		/*(3.3.2)第三个p中span的属性*/
		.foot-content #mail .mails p:nth-child(3) span{
				color:#274A67;
				margin-left:20px;
				}
		/*(3.4.1)*/
		.foot-content #adsize p{
				color:#374754;
				text-align:center;
				padding:0px 60px;
				margin:40px 0px 70px;
				box-sizing:border-box;
				}

